<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: purple;
            color: white; /* Cambia el color del texto si lo necesitas */
        }
    </style>
</head>
<body>
    <header>
        <h1>Felipe Bolivar Mancilla</h1>
    </header>

    <section class="container">
        <section class="SobreMi">
            <h2>Sobre Mí</h2>
            <p>Ingeniero de Sistemas </p>
            <img src="Imagenes/SobreMi.png" alt="Imagen Sobre Mí">
        </section>

        <section class="ExperienciaLaboral">
            <h2>Experiencia Laboral</h2>
            <p>Trabaje como técnico de sistemas en colpensiones y freelance</p>
            <img src="Imagenes/Colpensiones.png" alt="Imagen Experiencia Laboral">
        </section>

        <section class="Educacion">
            <h2>Educación</h2>
            <p>Estudiante de la universidad javeriana 7 semestre .</p>
            <img src="Imagenes/Javeriana.png" alt="Imagen Educación">
        </section>

        <section class="Proyectos">
            <h2>Proyectos</h2>
            <p>trabajado con android studio, c, c++, phyton, java la mayoría en proyectos estudiantiles.</p>
            <img src="Imagenes/Proyectos.png" alt="Imagen Proyectos">
        </section>

        <section class="Contacto">
            <h2>Contacto</h2>
            <p>Completa el formulario de contacto:</p>
            <form action="#" method="POST">
                <label for="Nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre"><br>
                <label for="Email">Email:</label><br>
                <input type="email" id="email" name="email"><br>
                <label for="RedesSociales">Redes Sociales:</label><br>
                <input type="text" id="RedesSociales" name="RedesSociales"><br>
                <label for="Mensaje">Mensaje:</label><br>
                <textarea id="mensaje" name="mensaje"></textarea><br><br>
                <input type="submit" value="Enviar">
            </form>
        </section>
    </section>
</body>
</html>